.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #ebebeb;
}
.form-url{
    width: 560px;
    background: #fff;
    border-radius: 10px;
    position: relative;
}

.wrap-login100 {
    width: 560px;
    background: #fff;
    border-radius: 10px;
    position: relative;
}
.p-r-85 {
    padding-right: 85px;
}
.table-style{
    background: white;
    border-radius: 4px;
    padding: 12px;
    margin: 20px 0px;
}
.p-l-85 {
    padding-left: 85px;
}
.p-b-55 {
    padding-bottom: 55px;
}
.p-t-55 {
    padding-top: 55px;
}
.content-center{
    justify-content: center;
}
